<div class="flex items-center justify-center w-full h-full overflow-hidden">
    <div id="parent-element" class="h-full w-full gap-4">
            <div class="flex items-center justify-center text-white bg-gray-800">
                <h2 class="p-4 text-3xl">Upload Profile</h2>
            </div>
        <hr>
        <div class="flex items-center justify-center w-full h-full">
            <div class="border border-gray-300 rounded-lg shadow-lg w-full bg-white">
            <form method="post" action="{% url 'b_enrollment:upload-profile' %}" enctype="multipart/form-data"
             class="flex flex-col items-center justify-center gap-4 p-6">
                {% csrf_token %}

                <div class="flex flex-col items-center justify-center w-full pt-5">
                    <label for="{{ form.image.id_for_label }}" class="mb-2 text-lg font-semibold">Upload Profile Photo</label>
                    {{ form.image }}
                    {% if form.image.errors %}
                        <p class="mt-1 text-sm text-red-500">{{ form.image.errors }}</p>
                    {% endif %}
                </div>

                <div class="flex flex-col items-center justify-center w-full gap-3">
                    <button type="submit" 
                        class="border border-solid border-gray-300 w-[50%] p-2 rounded text-white cursor-pointer bg-gray-800 hover:bg-black transition-colors">
                        Upload
                    </button>
                    <a href="{% url 'a_classroom:setting' %}?from={{ request.path }}" 
                       class="border border-solid border-gray-300 w-[50%] p-2 rounded text-white cursor-pointer text-center bg-gray-800 hover:bg-black transition-colors">
                        Back
                    </a>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>