<form 
  class="w-full"
  hx-post="{% url 'c_activities:edit-insight' submission.id %}" 
  hx-target="this"
  hx-swap="outerHTML"
>
  {% csrf_token %}
  <input type="hidden" name="subject_id" value="{{ submission.activity.subject.subject_id }}">
  <input type="hidden" name="activity_id" value="{{ submission.activity.activity_id }}">
  
  <textarea 
    name="new_insight"
    class="mt-2 p-3 bg-gray-100 rounded-lg w-full h-32 resize-none overflow-y-auto"
    required
  >{{ submission.feedback }}</textarea>
  
  <div class="flex w-full space-x-2 mt-2">
    <button 
      type="submit" 
      name="action" 
      value="confirm"
      class="px-3 py-1 text-sm text-white bg-blue-600 rounded-lg shadow hover:bg-blue-800 transition-colors duration-200"
    >
      Confirm
    </button>
    
    <button 
      type="submit" 
      name="action" 
      value="cancel"
      class="px-3 py-1 text-sm text-white bg-red-600 rounded-lg shadow hover:bg-red-800 transition-colors duration-200"
    >
      Cancel
    </button>
  </div>
</form>