   <!-- Previous-->
<div class="flex flex-row w-full h-full border-solid">
  <div class="flex justify-center items-center border-solid h-full w-[10%] bg-gray-200">
    <form hx-get="{% url 'a_classroom:prev_or_next' %}" hx-target="#output" hx-swap="innerHTML">
      <input type="hidden" name="activity_id" value="{{ activity.activity_id }}">
      <input type="hidden" name="index" value="{{ index}}">
      <button type="submit" name="action" value="previous" 
      class="flex items-center justify-center w-20 h-12 text-white bg-black border-2 border-solid shadow-xl cursor-pointer rounded-xl hover:bg-gray-500"
          hx-target="#output" hx-swap="innerHTML" title="Go to previous page">Previous</button> 
    </form>
  </div>

  <div class="relative w-full h-full pt-10 pl-5 pr-5 bg-gray-200">
    <div class="flex flex-col justify-start">
      
          <p class="pb-3 text-xl text-left">
            <span class="font-bold">Email Address :</span> {{ submission.student.email }}
          </p>

          <p class="pb-3 text-xl text-left">
            <span class="font-bold">Submitted Code :</span> {{ submission.submitted_code }}
          </p>

          <!-- Editable Feedback -->
					<p id="feedback-{{ first_submission.id }}" class="pb-3 text-xl text-left">
						<span class="font-bold">Feedback : </span>{{ first_submission.feedback }}
						<button class="ml-3 px-3 py-1 text-sm text-white bg-blue-600 rounded-lg shadow hover:bg-blue-800"
							hx-get="{% url 'c_activities:edit-insight' first_submission.id %}"
							hx-swap="outerHTML"
							hx-target="#feedback-{{ first_submission.id }}"
							title="Click to edit feedback">Edit Feedback</button>
					</p>

					<!-- Editable Score -->
					<p id="score-{{ first_submission.id }}" class="pb-3 text-xl text-left">
						<span class="font-bold">Score : </span>{{ first_submission.score }}
						<button class="ml-3 px-3 py-1 text-sm text-white bg-green-600 rounded-lg shadow hover:bg-green-800"
							hx-get="{% url 'c_activities:edit-grade' first_submission.id %}" 
							hx-swap="outerHTML" 
							hx-target="#score-{{ first_submission.id }}" 
							title="Click to edit grade">Edit Grade</button>
					</p>

        <!-- Return grade -->
        <form hx-post="{% url 'c_activities:return-grade' submission.id %}" class="absolute pt-10 pl-5 transform -translate-x-1/2 bottom-4 left-1/2">
          {% csrf_token %}
          <button type="submit" name="action" value="return" 
          class="flex items-center justify-center w-40 h-12 text-white bg-black border-2 border-solid shadow-xl cursor-pointer rounded-xl hover:bg-gray-500" 
          title="click to return grade to student">Return Grade</button>
        </form>
    </div>
  </div>
        <!-- Next -->
  <div class="flex justify-center items-center border-solid h-full w-[10%] bg-gray-200">
    <form hx-get="{% url 'a_classroom:prev_or_next' %}" hx-target="#output" hx-swap="innerHTML">
      <input type="hidden" name="activity_id" value="{{ activity.activity_id }}">
      <input type="hidden" name="index" value="{{ index }}">
      <button type="submit" name="action" value="next" 
      class="flex items-center justify-center w-20 h-12 text-white bg-black border-2 border-solid shadow-xl cursor-pointer rounded-xl hover:bg-gray-500"
          hx-target="#output" hx-swap="innerHTML" title="Go to previous page">Next</button> 
    </form>
  </div>
</div>