<form method="POST" action="{% url 'c_activities:edit-activity' activity.activity_id %}" class="flex flex-col gap-4 p-6">
  {% csrf_token %}
  <input class="border border-solid border-gray-300 w-full p-2 rounded bg-gray-100" type="text" name="title" value="{{ activity.title }}" required>
  <textarea class="border border-solid border-gray-300 w-full p-2 rounded bg-gray-100 h-32" name="description" required>{{ activity.description }}</textarea>
  <input class="border border-solid border-gray-300 w-full p-2 rounded bg-gray-100" type="number" name="max_score" value="{{ activity.max_score }}" required>
  {% if activity.type == "quiz" %}
    <input class="border border-solid border-gray-300 w-full p-2 rounded bg-gray-100" type="number" name="max_score" value="{{ activity.max_attempt }}" required>
  {% endif %}
  <input class="border border-solid border-gray-300 w-full p-2 rounded bg-gray-100" type="datetime-local" name="due_at" value="{{ activity.due_at|date:'Y-m-d\TH:i' }}" required>
  <button class="border border-solid border-gray-300 w-full p-2 rounded bg-black text-white cursor-pointer hover:bg-gray-600" type="submit">Save</button>
</form>