{% load static tailwind_tags %}
{% tailwind_css %}

<div class="flex flex-col items-center justify-center h-full w-full">
    <div class="w-full max-w-xl border border-gray-300 p-6 rounded-lg shadow-sm">
    	<form class="flex flex-col space-y-4" method="post" action="{% url 'c_activities:create-activity' %}"
			hx-post="{% url 'c_activities:create-activity' %}"
			hx-target="#create_activity"
			hx-swap="innerHTML">
    		{% csrf_token %}
    		<input id="subject_id" name="subject_id" hidden value="{{ subject_id }}">
			
			<div style="display: flex; gap: 10px;">
				<div style="width: 50%; ">			
					<label for="id_type" class="block font-semibold">Type</label>
					<select id="id_type" name="type" class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring focus:border-blue-300" required>
						<option value="" disabled selected>Select type</option>
						<option value="activity">Activity</option>
						<option value="quiz">Quiz</option>
					</select>
				</div>
				<div style="width: 50%;">
					<label for="id_language" class="block font-semibold">Language</label>
					<select id="id_language" name="language" class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring focus:border-blue-300" required>
						<option value="" disabled selected>Select type</option>
						<option value="Python">Python</option>
						<option value="Java">Java</option>
					</select>
				</div>
			</div>

    		<label for="id_title" class="block font-semibold">Title</label>
			<textarea 
				id="id_title" 
				name="id_title" 
				placeholder="Activity or Quiz Title" 
				rows="2"
				style="resize: none;"
				class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring focus:border-blue-300" 
				required></textarea>

			<label for="id_description" class="block font-semibold">Description</label>
			<textarea 
				id="id_description" 
				name="id_description" 
				placeholder="Description" 
				rows="4"
				style="resize: none;"
				class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring focus:border-blue-300" 
				required></textarea>

			<label for="id_max_score" class="block font-semibold">Max Score</label>
            <input id="id_max_score" name="id_max_score" type="number" min="1" placeholder="Maximum Score" class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring focus:border-blue-300" required>

    		<label for="id_max_attempt" class="block font-semibold">(Quiz Only) Max Attempt</label>
    		<input id="id_max_attempt" name="id_max_attempt" value="3" type="number" min="1" placeholder="Maximum Attempt" class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring focus:border-blue-300">

			<label for="id_due_at" class="block font-semibold">Due</label>
            <input id="id_due_at" name="id_due_at" type="datetime-local" class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring focus:border-blue-300" min="{% now 'Y-m-d\TH:i' %}" required>

			<div>
				<h5 class="text-lg font-semibold mb-2">
					Evaluation Criteria (up to 100%)
				</h5>
	            <table class="w-full table-fixed border border-gray-300">
	                <thead>
	                    <tr class="bg-gray-100">
	                        <th class="border px-2 py-1">Correctness</th>
	                        <th class="border px-2 py-1">Syntax</th>
	                        <th class="border px-2 py-1">Structure</th>
	                    </tr>
	                </thead>
	                <tbody>
						<tr>
							<td class="text-center border px-2 py-1">
								<input name="criteria" 
										hx-post="{% url 'c_activities:check-criteria' %}" 
										class="w-full resize-none border rounded p-1 criteria-input" 
										type="number" 
										min="1"
										hx-trigger="keyup changed delay:500ms"
										hx-target="#criteria-total"
										hx-include=".criteria-input" >%</input>
							</td>
							<td class="text-center border px-2 py-1">
								<input name="criteria"
										hx-post="{% url 'c_activities:check-criteria' %}"  
										class="w-full resize-none border rounded p-1 criteria-input" 
										type="number" 
										min="1"
										hx-trigger="keyup changed delay:500ms"
										hx-target="#criteria-total"
										hx-include=".criteria-input">%</input>
							</td>
							<td class="text-center border px-2 py-1">
								<input name="criteria"
										hx-post="{% url 'c_activities:check-criteria' %}"  
										class="w-full resize-none border rounded p-1" 
										type="number" 
										min="1"
										hx-trigger="keyup changed delay:500ms"
										hx-target="#criteria-total"
										hx-include=".criteria-input">%</input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="text-center border px-2 py-1">
								<div id="criteria-total">
									Total: <span class="font-bold">0%</span>
								</div>
							</td>
						</tr>
	                </tbody>
	            </table>
	    	</div>
			
			<button type="submit" id="create_activity" name="action" value="create_activity" class="bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition cursor-pointer">Create</button>

    	</form>
    </div>
</div>