@import "tailwindcss";
body {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;
    font-family: Arial, Helvetica, sans-serif;
}
.class-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 0.5rem;
    gap: 0.5rem;
}
.after {
    position: relative;
        &::after {
        content: '';
        background-image: url('/static/mysite_images/logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 32px;
        width: 32px;
        position: absolute;
        top: 0;
    }
}
dialog {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid;
    form {
        position: relative;
        h4 {
            border-bottom: 5px solid;
            text-align: center;
        }

        > div {
            border: 1px solid;
            padding: 10px;
        }
        
        button {
            background-color: hsl(0, 0%, 75%);
            padding: 10px 20px;
            cursor: pointer;
            position: absolute;
            left: 50%;
            bottom: -60px;
            transform: translate(-50%);
            border-radius: 5px;

            &:hover, &:focus {
                background-color: black;
                color: white;
            }
        }
    }
}
.show {
    display: none;
}

.password-input:focus + .show, .show:hover, .show:focus {
    display: block;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}
.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
@media screen and (min-width: 500px) and (max-width: 809px) {
    .class-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}
@media screen and (min-width: 810px) and (max-width: 1023px) {
    .class-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .class-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }
}
@media screen and (min-width: 1440px) and (max-width: 1749px) {
    .class-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
    }
}
@media screen and (min-width: 1750px) and (max-width: 1949px) {
    .class-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
    }
}
@media screen and (min-width: 1950px) and (max-width: 2149px) {
    .class-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto;
    }
}
@media screen and (min-width: 2150px) and (max-width: 2349px) {
    .class-grid {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto;
    }
}
@media screen and (min-width: 2350px) and (max-width: 2549px) {
    .class-grid {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: auto;
    }
}
@media screen and (min-width: 2550px) and (max-width: 2749px) {
    .class-grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: auto;
    }
}