@import "tailwindcss";
:root {
    --before-opacity: 1;
    --after-opacity: 0;
}
body {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;
    font-family: Arial, Helvetica, sans-serif;
}
.class-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 0.5rem;
    gap: 0.5rem;
}
.div-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-form {
    height: auto;
    width: 90%;
    border: 0.2rem solid gray;
    border-radius: 0.75rem;
    padding: 1rem;

    .pattern-text {
        height: auto;
        width: 20rem;
        position: absolute;
        border-radius: 0.3rem;
        display: none;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        margin-top: 0.5rem;

        .text {
            display: block;
            padding: 0.5rem 3rem;
            background-color: #E5E4E2;

            &::before {
                content: "";
                background-image: url('/static/mysite_images/circle-xmark-solid-full.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                height: 1rem;
                width: 1rem;
                position: absolute;
                left: 5%;
                opacity: var(--before-opacity);
            }

            &::after {
                content: "";
                background-image: url('/static/mysite_images/circle-check-solid-full.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                height: 1rem;
                width: 1rem;
                position: absolute;
                right: 5%;
                opacity: var(--after-opacity);
            }
        }
    }

    .top {
        top: -100%;
    }

    .left {
        left: -95%;
    }

    input:not(:placeholder-shown) + span + .pattern-text {
        display: block;
    }

    input:not(:focus) + span + .pattern-text {
        display: none;
    }
}
.after {
    position: relative;
        &::after {
        content: '';
        background-image: url('/static/mysite_images/logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 32px;
        width: 32px;
        position: absolute;
        top: 0;
    }
}
dialog {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;

    > form {
        position: relative;
        h4 {
            border-bottom: 5px solid;
            text-align: center;
        }

        > div {
            border: 2px solid;
            padding: 10px;
            height: 50%;
            width: 95%;
            margin: auto;
        }
        
        button {
            background-color: black;
            padding: 10px 20px;
            cursor: pointer;
            position: absolute;
            left: 50%;
            bottom: -60px;
            transform: translate(-50%);
            border-radius: 5px;
        }
    }
}
.show {
    display: none;
}

.password-input:focus + .show, .show:hover, .show:focus {
    display: block;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}
.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.dialog {
    height: 50%;
    width: 90%;
    border: 0.15rem solid;
}
.myTerms, .myPrivacy {
    height: 50%;
    width: 95%;
    margin: auto;
}
.dialogButton {
    width: 75%;
}
.gif-container {
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > img {
        height: 60%;
        width: 50%;
    }

    > h1 {
        font-size: 1rem;
    }
}
@media screen and (min-width: 500px) and (max-width: 809px) {
    .class-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
    .register-form {
        height: auto;
        width: 70%;
        border: 0.2rem solid gray;
        border-radius: 0.75rem;
        padding: 1rem;

        .left {
            left: -60%;
        }
    }
    .create-activity-form {
        width: 80%;
    }
    .people {
        width: 90%;
    }
    .dialog {
        height: 50%;
        width: 80%;
        border: 0.15rem solid;
    }
    .myTerms, .myPrivacy {
        height: 50%;
        width: 95%;
        margin: auto;
    }
    .dialogButton {
        width: 50%;
    }
    .student-submission {
        display: flex;
        flex-direction: row;

        > div:first-child {
            width: 40%;
        }
        
        > div:nth-child(2) {
            flex-grow: 1;
        }
    }
}
@media screen and (min-width: 810px) and (max-width: 1023px) {
    .class-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
    .register-form {
        height: auto;
        width: 70%;
        border: 0.2rem solid gray;
        border-radius: 0.75rem;
        padding: 1rem;

        .left {
            left: -25%;
        }
    }
    .create-activity-form {
        width: 60%;
    }
    .people {
        width: 70%;
    }
    .dialog {
        height: 50%;
        width: 80%;
        border: 0.15rem solid;
    }
    .myTerms, .myPrivacy {
        height: 50%;
        width: 95%;
        margin: auto;
    }
    .dialogButton {
        width: 50%;
    }
    .student-submission {
        display: flex;
        flex-direction: row;

        > div:first-child {
            width: 40%;
        }

        > div:nth-child(2) {
            flex-grow: 1;

            .max-height {
                max-height: 15rem;
            }
        }
    }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .class-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }
    .register-form {
        height: auto;
        width: 60%;
        border: 0.2rem solid gray;
        border-radius: 0.75rem;
        padding: 1rem;

        .left {
            left: -15%;
        }
    }
    .create-activity-form {
        width: 50%;
    }
    .people {
        width: 50%;
    }
    .dialog {
        height: 50%;
        width: 70%;
        border: 0.15rem solid;
    }
    .myTerms, .myPrivacy {
        height: 50%;
        width: 95%;
        margin: auto;
    }
    .dialogButton {
        width: 40%;
    }
    .student-submission {
        display: flex;
        flex-direction: row;

        > div:first-child {
            width: 40%;
        }

        > div:nth-child(2) {
            flex-grow: 1;

            .max-height {
                max-height: 15rem;
            }
        }
    }
}
@media screen and (min-width: 1440px) and (max-width: 1749px) {
    .class-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
    }
    .register-form {
        height: auto;
        width: 50%;
        border: 0.2rem solid gray;
        border-radius: 0.75rem;
        padding: 1rem;

        .left {
            left: 0;
        }
    }
    .create-activity-form {
        width: 40%;
    }
    .people {
        width: 40%;
    }
    .dialog {
        height: 50%;
        width: 60%;
        border: 0.15rem solid;
    }
    .myTerms, .myPrivacy {
        height: 50%;
        width: 95%;
        margin: auto;
    }
    .dialogButton {
        width: 40%;
    }
    .student-submission {
        display: flex;
        flex-direction: row;

        > div:first-child {
            width: 50%;
        }

        > div:nth-child(2) {
            flex-grow: 1;

            .max-height {
                max-height: 15rem;
            }
        }
    }
}
@media screen and (min-width: 1750px) and (max-width: 1949px) {
    .class-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
    }
    .register-form {
        height: auto;
        width: 40%;
        border: 0.2rem solid gray;
        border-radius: 0.75rem;
        padding: 1rem;

        .left {
            left: 0%;
        }
    }
    .create-activity-form {
        width: 40%;
    }
    .people {
        width: 40%;
    }
    .dialog {
        height: 50%;
        width: 50%;
        border: 0.15rem solid;
    }
    .myTerms, .myPrivacy {
        height: 50%;
        width: 95%;
        margin: auto;
    }
    .dialogButton {
        width: 30%;
    }
    .student-submission {
        display: flex;
        flex-direction: row;

        > div:first-child {
            width: 50%;
        }

        > div:nth-child(2) {
            flex-grow: 1;

            .max-height {
                max-height: 15rem;
            }
        }
    }
}
@media screen and (min-width: 1950px) and (max-width: 2149px) {
    .class-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto;
    }
    .register-form {
        height: auto;
        width: 30%;
        border: 0.2rem solid gray;
        border-radius: 0.75rem;
        padding: 1rem;

        .left {
            left: -20%;
        }
    }
    .create-activity-form {
        width: 40%;
    }
    .people {
        width: 40%;
    }
    .dialog {
        height: 50%;
        width: 40%;
        border: 0.15rem solid;
    }
    .myTerms, .myPrivacy {
        height: 50%;
        width: 95%;
        margin: auto;
    }
    .dialogButton {
        width: 250%;
    }
    .student-submission {
        display: flex;
        flex-direction: row;

        > div:first-child {
            width: 50%;
        }

        > div:nth-child(2) {
            flex-grow: 1;

            .max-height {
                max-height: 15rem;
            }
        }
    }
}
@media screen and (min-width: 2150px) and (max-width: 2349px) {
    .class-grid {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto;
    }
    .register-form {
        height: auto;
        width: 20%;
        border: 0.2rem solid gray;
        border-radius: 0.75rem;
        padding: 1rem;

        .left {
            left: -20%;
        }
    }
    .create-activity-form {
        width: 30%;
    }
    .people {
        width: 30%;
    }
    .dialog {
        height: 50%;
        width: 35%;
        border: 0.15rem solid;
    }
    .myTerms, .myPrivacy {
        height: 50%;
        width: 95%;
        margin: auto;
    }
    .dialogButton {
        width: 20%;
    }
    .student-submission {
        display: flex;
        flex-direction: row;

        > div:first-child {
            width: 50%;
        }

        > div:nth-child(2) {
            flex-grow: 1;

            .max-height {
                max-height: 15rem;
            }
        }
    }
}
@media screen and (min-width: 2350px) and (max-width: 2549px) {
    .class-grid {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: auto;
    }
    .register-form {
        height: auto;
        width: 20%;
        border: 0.2rem solid gray;
        border-radius: 0.75rem;
        padding: 1rem;

        .left {
            left: -20%;
        }
    }
    .create-activity-form {
        width: 30%;
    }
    .people {
        width: 30%;
    }
    .dialog {
        height: 50%;
        width: 30%;
        border: 0.15rem solid;
    }
    .myTerms, .myPrivacy {
        height: 50%;
        width: 95%;
        margin: auto;
    }
    .dialogButton {
        width: 20%;
    }
    .student-submission {
        display: flex;
        flex-direction: row;

        > div:first-child {
            width: 50%;
        }

        > div:nth-child(2) {
            flex-grow: 1;

            .max-height {
                max-height: 15rem;
            }
        }
    }
}
@media screen and (min-width: 2550px) and (max-width: 2749px) {
    .class-grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: auto;
    }
    .register-form {
        height: auto;
        width: 20%;
        border: 0.2rem solid gray;
        border-radius: 0.75rem;
        padding: 1rem;

        .left {
            left: -20%;
        }
    }
    .create-activity-form {
        width: 30%;
    }
    .people {
        width: 30%;
    }
        .dialog {
        height: 50%;
        width: 30%;
        border: 0.15rem solid;
    }
    .myTerms, .myPrivacy {
        height: 50%;
        width: 95%;
        margin: auto;
    }
    .dialogButton {
        width: 20%;
    }
    .student-submission {
        display: flex;
        flex-direction: row;

        > div:first-child {
            width: 50%;
        }

        > div:nth-child(2) {
            flex-grow: 1;

            .max-height {
                max-height: 15rem;
            }
        }
    }
}